:root {
  --my-primary: #335c67;
  --my-secondry: #fff3b0;
  --orange: #e09f3e;
  --red: #9e2a2b;
  --dark-red: #540b0e;
}
.text-dark-red{
  color: var(--dark-red);
}
.text-red{
  color: var(--red);
}
.text-orange{
  color: var(--orange);
}
.text-my-primary{
  color: var(--my-primary);
}
.bg-orange{
  background: var(--orange)!important;
}
.bg-red{
  background: var(--red)!important;
}

main{
  background-color: var(--my-secondry);
}

header {
  background-color: var(--my-primary);
}
.btn-search {
  background-color: var(--red) !important;
  border: 1.5px solid #dee2e6 !important;
  font-size: 1.5rem !important;
  line-height: 0px;
}
.hotel-card {
  height: 19rem !important;
}

.hotel-card img {
  height: 50% !important;
}

.category-card {
  height: 16rem;
}

.category-card img {
  height: 50% !important;
}

/* /////////////// */

.top-rate-hotels a {
  text-decoration: none;
}

.top-rate-hotels a:hover {
  text-decoration: underline;
}

footer{
  background-color: var(--my-primary);
}
footer .nav-link{
  color: var(--orange);
}